.m-search-bar{
    padding:30px 80px 0px;
    background:#fff;
    .header-logo-img{
        display: inline-block;
        width:126px;
        height:46px;
        img{
            width:100%;
            height:100%;
        }
    }
    .search-box{
        position:relative;
        .search-input /deep/{
            .el-input__inner{
                border:1px solid #13D1BE;
            }
            .el-input-group__append{
                color:#fff;
                border:1px solid #13D1BE;
                padding:0 25px;
                background:#13D1BE;
                
            }
        }
        .search-focus{
            z-index:2019;
            position:absolute;
            left:0px;
            width:calc(100% - 68px);
            top:40px;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
            background:#fff;
            .list-item{
                padding:0 10px;
                line-height:30px;
                .list-link{
                    color:#999;
                }
                &:hover{
                    background:#F8F8F8;
                    .list-link{
                        color:#13D1BE;
                    }
                }
            }
        }
        .suggest{
            .suggest-link{
                display:inline-block;
                color:#999;
                line-height: 40px;
                margin-left:8px;
                cursor: pointer;
                &:hover{
                    color:#13D1BE;
                }
            }
        }
        .search-main-link{
            margin:20px 0px;
            li{
                float:left;
                &:not(:last-child){
                    margin-right:30px;
                }
            }
            .link-item{
                color:#222;
                font-weight:600;
                font-size:16px;
            }
            .waimai,
            .apartment{
                &:hover{
                    color:#fbc700;
                }
            }
            .maoyan,
            .hotel,
            .charity{
                &:hover{
                    color:#f04d4e;
                }
            }
            .bussess{
                &:hover{
                    color:#31BBAC;
                }
            }

        }
    }
}