.city-search-wrap{
    padding-bottom:30px;
    border-bottom: 1px solid #E5E5E5;
    .select-label{
        color:#333;
        font-size:16px;
        font-weight:500;
    }
    .city-search-select /deep/{
        width:170px;
        height:40px;
        line-height:40px;
        padding:0px 10px;
        .el-input.is-focus .el-input__inner,
        .el-input__inner:focus {
            border-color: #DCDFE6;
        }
        .el-input__inner::-webkit-input-placeholder{
            color:#606266;
        }

        .el-input__inner:-moz-placeholder{
            color:#606266
        }

        .el-input__inner:-ms-input-placeholder{
            color:#606266
        }

    }
}
