.banner-container{
    height:416px;
    .side-nav-wrap{
        height:100%;
    }
    .pic-nav-wrap{
        height:100%;
        padding-left:10px;
    }
    .user-center-wrap{
        height:100%;
    }
}