.user-center{
    height:100%;
    .user-operate{
        width:100%;
        height:240px;
        font-size:16px;
        color:#222;
        padding:30px 20px 20px;
        text-align: center;
        border:1px solid #e5e5e5;
        background:#fff;
        img{
            width:47px;
            height:47px;
            border-radius: 50%;
        }
        .desc{
            margin:8px 0px;
            span{
                font-weight: 600;
            }
        }
        .el-button.is-round{
            color:#333;
            padding:12px 45px;
            border: 1px solid #e5e5e5;
            &:first-of-type{
                margin-bottom:15px;
            }
            &:hover{
                background-color:#eee;
            }
            a{
                color:#333;
            }
        }
    }
    .app-code{
        height:calc(100% - 250px);
        text-align:center;
        border:1px solid #e5e5e5;
        margin-top:10px;
        background:#fff;
        img{
            width:95px;
            height:95px;
        }
        .imgDesc{
            font-size: 16px;
            color: #222;
            font-weight: 500;
        }
        .addInfo{
            font-size: 12px;
            font-weight: 500;
            margin-top: 2px;
            span{
                color: #EC5330;
                margin-right: 5px;
            }
        }
    }
}